.root {
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: relative;
  width: 16.75rem;
}

.root > input {
  background: none;
  border: none;
  border-bottom: 0.125rem solid #cccccc;
  border-radius: 0;
  color: #333435;
  font-size: 2rem;
  font-weight: 400;
  height: 3.75rem;
  line-height: 3rem;
  outline: none;
  text-align: center;
  width: 3.75rem;
}

.root > input:focus {
  border-bottom: 0.25rem solid var(--primary-color);
}

.root.error > input {
  border-bottom: 0.25rem solid var(--primary-color);
  color: var(--primary-color);
}

.root.error > small {
  bottom: -1.75rem;
  color: var(--primary-color);
  display: block;
  font-size: 0.75rem;
  text-align: center;
  position: absolute;
  width: 100%;
}
