.root {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 1, 0.15);
  max-width: 45rem;
  margin: auto;
  padding: 1.5rem;
}

.root > header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.root.medium { max-width: 33.75rem; }

.icon {
  margin-bottom: 1rem;
  width: 6.25rem;
}

.title > h1 {
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}

.title > p {
  color: #808080;
  line-height: 1.6;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 48em) {
  .root {
    background-color: transparent;
    margin: -1rem;
    padding: 1rem;
  }
  .title > h1 { font-size: 1.25rem; }
  .title > p { font-size: 0.8rem; }
}
