.root > header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.root > header > img:first-child { height: 6.25rem; }

.root > h1 {
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

.root > p {
  color: #808080;
  line-height: 1.6;
}

.root > footer {
  display: flex;
  margin-top: 2rem;
}

.root > footer > a {
  flex: 1;
}

.root > footer > a:first-child {
  margin-right: 1.25rem;
}

@media only screen and (max-width: 48em) {
  .root > h1 {
    font-size: 1.25rem;
  }
  
  .root > p {
    font-size: 0.8rem;
  }
}
