.root > li:last-of-type {
  border-bottom: 0;
  margin-top: 2rem;
  padding: 0;
}
.root > li {
  border-bottom: 0.0625rem solid #e5e6e6;
  display: flex;
  justify-content: space-between;
  padding: 1.125rem 0rem;
  align-items: center;
}
.root > li > button:last-child {
  width: 100%;
}

@media only screen and (max-width: 48em) {
  .root > li:first-of-type {
    margin-top: 5rem;
  }
  .root > li > span {
    font-size: 1rem;
  }
}
