.error {
  color: #ee4c24;
  font-size: 0.75rem;
}

.request-button {
  align-items: center;
  display: flex !important;
  margin-bottom: 1rem;
}

.request-button > img:first-child {
  height: 1.5rem;
  margin-right: 1rem;
}

.request-button > *:last-child {
  height: 1.5rem;
  margin-left: auto;
}
