.back {
  height: 3rem;
  padding: 0.5rem;
  margin: -0.5rem 0 0 -0.5rem;
}

.cardroot{
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 1, 0.15);
  color: #333435;
  margin: auto;
  max-width: 45rem;
  padding: 1.5rem;
}

.column{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column > article {
  flex: 0 0 50%;
}

.column > article > h4 {
  font-weight: 500;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

.column > article > h4,
.headerDetail,
.note {
  color: #66686a;
}

.detailContent > h3{
  font-size: 0.9rem;
  font-weight: 400;
  margin: 1.5rem 0 1rem 0;
  text-transform: uppercase;
}

.detailContent > ul > li{
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
}

.detailContent > ul > li:not(:last-child) {
  border-bottom: 0.0625rem solid #ededed;
}

.detailContent > ul > li > span:first-child {
  flex: 0 1 50%;
  font-size: 0.9375rem;
  font-weight: 800;
}

.grand{
  font-size: 1.125rem;
  font-weight: bold;
}

.headerDetail{
  text-align: center;
  font-size: 0.75rem;
}

.headerDetail > h1 {
  color: #333435;
  font-size: 1.25rem;
}

.img {
  width: 12.5rem;
}

.load {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 45rem;
}

@media only screen and (max-width: 48em) {
  .back {
    height: 2rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
  }

  .cardroot {
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 1.75rem;
    min-width: 100%;
    padding: 1.25rem 0 0 0;
  }

  .cardroot::after {
    background:#fff url(/assets/bg_header_corner_success.svg) no-repeat;
    background-size: 100%;
    content: '';
    height: 16.75rem;
    left: -1rem;
    position: absolute;
    top: -1rem;
    width: 100vw;
    z-index: -1;
  }
  
  .column {
    flex-direction: column;
  }

  .column > article {
    margin: 0.8rem 0;
  }

  .detailContent > h3 {
    letter-spacing: 0.0625rem;
    margin: 1.5rem 0 0.25rem 0;
  }

  .detailContent > ul {
    margin-top: 0.5rem;
  }

  .detailContent > h3,
  .detailContent > h3:last-child,
  .column > article > h4,
  .headerDetail > p {
    font-size: 0.75rem;
  }

  .detailContent > ul > li > span:first-child {
    font-size: 0.8125rem;
  }

  .column > article > p,
  .detailContent > ul > li > span {
    font-size: 0.9375rem;
  }

  .grand {
    font-size: 1.25rem;
  }

  .headerDetail {
    text-align: left;
  }

  .headerDetail > h1 {
    font-size: 1.5rem;
  }

  .headerDetail > p {
    line-height: 1.125rem;
  }

  .img {
    margin-bottom: 1rem;
    width: 6.25rem;
  }

  .load {
    height: 100vh;
    margin-bottom: 6rem;
    width: auto;
  }

  .note {
    font-size: 0.75rem;
    margin-top: 0.25rem;
  }
}
