.main {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 1, 0.15);
  margin: 0 auto 3.75rem;
  padding: 1.5rem;
  width: 31.875rem;
}

.main > img {
  display: block;
  margin: 0 auto 1rem;
  width: 12.5rem;
}

.nav {
  background-color: #ffffff;
  height: 5.375rem;
  padding: 2rem 0 1.75rem;
  margin-bottom: 2rem;
  text-align: center;
}

.nav > a > img {
  height: 100%;
}

.title {
  margin-bottom: 1.5rem;
}

.title > h1 {
  font-size: 1.25rem;
  font-weight: 800;
  margin: 0 auto 0.5rem;
  max-width: 25rem;
  text-align: center;
}

.title > p {
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
  max-width: 25rem;
}

@media only screen and (max-width: 48em) {
  .main {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    padding: 0 1rem;
    width: 100vw;
  }
  
  .main > img {
    width: 11rem;
  }

  .main::after {
    background: url(/assets/bg_header_white_full.png) no-repeat;
    background-color: #ffffff;
    background-size: contain;
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 35vh;
    width: 100%;
    z-index: -1;
  }

  .main > a {
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 2rem);
  }

  .nav {
    display: none;
  }

  .title > h1 {
    font-size: 1.5rem;
  }
}