.btn-report-issues, .btn-reset-modem {
  display: none;
}

.error {
  color: #ee4c24;
  display: block;
  font-size: 0.75rem;
  margin: 1rem 0;
}

.header {
  margin-bottom: 2rem;
}

.header > a:first-child {
  align-items: center;
  color: #000001;
  display: inline-flex;
  font-size: 0.9rem;
  font-weight: 800;
  text-transform: uppercase;
}

.header > a > svg {
  margin-right: 0.25rem;
}

.header > h1 {
  font-size: 2.5rem;
  margin: 2rem 0 0.5rem;
}

.header > p {
  margin-bottom: 2rem;
}

.header > *:nth-last-child(2), .header > *:last-child {
  display: inline-block;
}

.header > *:last-child {
  margin-left: 1.5rem;
}

.modal-report-issues > button:first-child {
  display: block;
  margin-left: auto;
}

.modal-report-issues > h1 {
  color: #333435;
  font-size: 1.75rem;
}

.modal-report-issues > p {
  color: #808080;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0.75rem 0 1rem;
}

.reset-modem {
  font-size: 1rem;
  text-align: center;
}

.reset-modem > p {
  max-width: 25rem;
  margin: 0 auto 1rem;
}

.reset-modem > p:nth-child(2) {
  margin-bottom: 2rem;
}

.reset-modem ~ button {
  width: 100%;
}

.modal-reset-result {
  text-align: center;
}

.modal-reset-result > img {
  width: 10rem;
}

.modal-reset-result > h1 {
  margin: 1rem auto 0.5rem;
}

.modal-reset-result > p {
  max-width: 20rem;
  margin: 0 auto 2.5rem;    
}

.modal-reset-result > button {
  width: 100%;
}

@media only screen and (max-width: 48em) {
  .header { display: none; }

  .btn-report-issues, .btn-reset-modem {
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 1, 0.15);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    padding: 1rem;
  }

  .btn-report-issues > img, .btn-reset-modem > img {
    grid-row: 1/3;
    height: 6.25rem;
    margin: auto 0.625rem auto 0;
  }

  .btn-report-issues > span, .btn-reset-modem > span {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .btn-report-issues > small, .btn-reset-modem > small {
    background-color: #ffffff;
    border-radius: 0.25rem;
    color: #191A1A;
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 0.046875rem;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  .btn-report-issues {
    background: url('/assets/bg_banner_wave_red.svg') center center no-repeat;
    background-size: cover;
    margin: 1rem 0 1.5rem;
  }

  .btn-reset-modem {
    background: url('/assets/bg_banner_wave.svg') center center no-repeat;
    background-size: cover;
  }

  .modal-report-issues > h1 {
    font-size: 1.25rem;
  }
  
  .modal-report-issues > p {
    font-size: 0.8rem;
  }

  .reset-modem > p {
    color: #191a1a;
    font-size: 0.8rem;
    line-height: 1.25rem;
    max-width: 16.875rem;
  }

  .reset-modem ~ button {
    margin: auto 0 1rem;
  }

  .modal-reset-result > h1 {
    font-size: 1.25rem;
    margin: 1.5rem 0 0.65rem;
  }
  
  .modal-reset-result > p {
    color: #191a1a;
    font-size: 0.8rem;
    line-height: 1.25rem;
  }

}
