.article { 
  display: flex;
  margin-top: -1rem;
}

.article > nav { margin-right: 1rem;}

.bill, .blank, .loading {
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 1, 0.15);
  flex: 1;
  min-height: 27rem;
  padding: 2rem;
}

.bill > header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0 1.75rem;
}

.bill > header > h3 {
  color: #999999;
  font-size: 0.9rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.bill > a {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  padding: 1.25rem 0;
}

.bill > a > small {
  color: #808080;
  font-size: 0.75rem;
}

.bill > a > p:first-of-type {
  font-weight: 800;
  grid-row: 1/3;
  grid-column: 2;
  margin: auto 0 auto auto;
}

.bill > a > p:last-of-type {
  color: #333435;
  font-size: 1.125rem;
  font-weight: 800;
  transition: color 0.25s;
}

.bill > a:hover > p:last-of-type { color: var(--primary-color); }

.blank {
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 1, 0.15);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-height: 27rem;
  padding: 2rem;
}

.blank > img { width: 12.5rem;}

.blank > p {
  color: #000001;
  line-height: 1.6;
  margin-bottom: 2rem;
  text-align: center;
}

.header {
  background: #ee3124 url(/assets/bg_product_internet.jpg) no-repeat center;
  background-size: cover;
  margin: -4rem var(--neg-side-margin) 0;
  padding: 3rem var(--side-margin) 6rem;
  z-index: 1;
}

.header > a {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: .9rem;
  margin-bottom: 3rem;
}

.header > a > svg {
  height: 1rem;
  opacity: 0.75;
}

.header > a >svg:last-child { display: none; }

.header > h1 {
  font-size: 2.5rem;
  color: #ffffff;
}

.blank {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.blank > img { width: 12.5rem;}

.blank > p {
  color: #000001;
  line-height: 1.6;
  margin-bottom: 2rem;
  text-align: center;
}

.loading > span, .loading > div > span { display: block; }

.loading > span {
  height: 1.25rem;
  margin: 0.75rem 0 1.75rem;
  width: 100%;
}

.loading > div { margin-bottom: 1.5rem; }

.loading > div > span:first-child {
  height: 1rem;
  margin-bottom: 0.5rem;
  width: 8.5rem;
}

.loading > div > span:last-child {
  height: 3rem;
  width: 100%;
}

@media only screen and (max-width: 48em) {
  .article {
    margin: 0;
    flex-wrap: wrap;
  }
  .article > nav { margin: 0 -1rem; }
  .blank {
    border-radius: 0;
    box-shadow: none;
    margin: 0 -1rem -1rem;
  }
  .blank > p { font-size: 0.8rem; }
  .bill, .loading {
    border-radius: 0;
    box-shadow: none;
    margin: 0 -1rem -1rem;
    padding: 1.5rem 1rem 1rem;
  }
  .bill > header { margin-bottom: 1.5rem; }
  .bill > header > h3 { font-size: 0.8rem; } 
  .bill > header > button > img { width: 1.25rem; }
  .bill > a { padding: 1rem 0; }
  .bill > a > p:last-of-type { font-size: 1rem; }
  .header {
    background: #ffffff;
    color: #000001;
    margin: -1rem -1rem 0;
    padding: 1rem 1rem 0.75rem;
  }
  .header > a {
    color: transparent;
    font-size: 0;
    margin-bottom: 1rem;
  }
  .header > a > svg:first-child { display: none; }
  .header > a > svg:last-child {
    display: block;
    height: 1.5rem;
  }
  .header > h1 {
    color: inherit;
    font-size: 1.5rem;
  }
}
